<div class="module-content box">
  <div>
    <p>This platform aims to provide <strong>open access</strong> to a wide range of <strong>resources</strong> related to <strong>aquatic</strong> <strong>ecosystems</strong> (freshwater, marine and coastal) mostly at the European level. The primary focus is on data used in the various project Demo Sites and Case Studies, and resulting maps, model outputs and tools.</p>
    <p>Welcome to the Information Platform of the <a href="http://ponderful.eu/">PONDERFUL</a> and the <a href="http://aquacross.eu/">AQUACROSS</a> projects, which seeks to advance the implementation of <strong>Nature-based solutions</strong> using <strong>aquatic ecosystems</strong> for the delivery of ecosystem services, biodiversity conservation and climate change mitigation and adaptation.</p>
    <p>As most of this work is on-going, <strong>new resources</strong> will gradually be <strong>uploaded</strong> to this <strong>Information Platform</strong>.
    </p>
  </div>
</div>

